.container{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

.animal{
    left: 200px;
    width: 50%;
    padding: 100px;
}

#pokemon-img{
    object-fit: fill;
}